.Small-sidebar{
    width: 5%;
}

.Small-sidebar p{
    display: none;
}

.Small-sidebar hr{
    width:20%;
}

.Small-sidebar h2{
    display: none;
}

.side-link.active img{
    padding-bottom: 2px;
    border-bottom: 3px solid #ff0000;
}